<section class="authSection">


   <form class="authForm" action="/auth/login" method="POST">
      <h1>Log In</h1>
      <p>Please put in your email and password to log in.</p>

      <input type="email" name="email" placeholder="email">
      <input type="password" name="passwordHash" placeholder="********">

      {{#if errorMessage}}
         <p class="errorMessage">{{errorMessage}}</p>
      {{/if}}

      <button class="authSendButton" type="submit">Log In</button>
      <a href="/auth/signup">I don't have an account yet</a>
   </form>

</section>