<div id="overlayModal" class="modal">

  <a href="/products/">
      <img src="/images/004-close.png" alt="">
  </a>

    <div class="manage-lists"> 
        <h1>Manage Lists</h1>
        <br>
        <a id="create-list" href="/lists/create/">Create new List</a>

        <ul>
            {{#each data.lists}}
            <li>
                <span><a href="/lists/{{this._id}}/edit/">{{this.name}}</a></span>
                <span id="list-options"> 
                    <a href="/lists/{{this._id}}/edit/"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/lists/{{this._id}}/delete/"><i class="fa-solid fa-trash"></i></a> 
                </span>
            </li>
            {{/each}}
        </ul>

    </div>


</div>