<div id="overlayModal" class="modal">

  <a id="closingButton" href="/products/">
      <img src="/images/004-close.png" alt="">
  </a>

  <form class="productForm" action="/products/create" method="POST">

      <h1>Create Product</h1>
    
      <input type="url" name="link" placeholder="Paste link to product here">
      {{!-- <input type="text" name="notes" placeholder="notes"> --}}

    <button type="submit">Create</button>

    <p id="link">
         <a href="/products/create-manually">Insert product details manually</a>
      </p>
  </form>

</div>