<div id="intro">

    <img src="/images/giraffe_full.svg" alt="">

    <div>
        <h1>Discover <span id="brandName">giraffe</span> </h1>
        <article>...your personnal online shopping assistant helping you to always keep an overview about your shopping plans. With giraffe you can create shopping lists and oversee all your items of interest, wherever you found it.</article>
        
        <a href="/products">
            <button id="getStartedButton">Get Started</button>
        </a>
    </div>


</div>