body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #black;
  text-decoration: none;
}

h1 {
  color: 15px;
}

input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgray

}

nav {
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
  padding: 30px 10vw ;
}

nav div {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 15px;
  font-weight: 600;
  font-size: larger;
}

nav h1 {
  padding: 0;
  margin: 0;
}

#allProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10vw;
}

.product {
  background-color: white;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 1%;
  overflow: hidden;
  margin: 10px;
  box-shadow: 2px 3px 12px -3px rgba(0,0,0,0.6);
}

.product:last-child a {
  font-size:xx-large;
}

.product img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
/* .product h3, p {
  color: yellow;
  margin: 3% 10%;
} */

.productHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 10%;
  text-align: center;
}

.productName {
  font-size: x-large;
}

.editButtons {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;
}

.editButtons button {
  margin-bottom: 5px;
  background-color: transparent;
/*   border: 1px solid white; */
  border: none;
  text-decoration: none;

}

#linkButton {
  background-color: white;
  border-radius: 20px;
  border: 1px solid lightgray;
  height: 40px;
  width: 40%;
  margin: auto;
}

#searchAndFilter {
  margin: 0 10vw;
  border-bottom: 1px solid lightgray;
}

#search {
  width: 60%;
}

