html {
  position: relative;
  min-height: 100%;
}

.body-wrapper {
  margin: 0 0 80px 0;
}

body {
  padding: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 0;
  background-color: rgb(234, 238, 242);
}


#intro {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#intro img{
  height: 50vh;
}

#intro h1 {
  font-size: xx-large;
}

#intro article {
  margin: 40px 0;
  font-size: larger;
}

#getStartedButton {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 189, 21);
  color:white;
}

a {
  text-decoration: none;
  color: rgb(143, 143, 143);
}

button {
  font-family: 'Quicksand', sans-serif;
  font-weight:600;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 5vw;
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 15px;
  font-weight: 600;
  font-size: small;
}

#brandName {
  padding: 0;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color:rgb(255, 189, 21);
}

nav img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

#brand {
  display: flex;
  flex-direction: row;
  align-items: center;

}

#allProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10vw;
}

/* Product Card - Sizing*/

.product {
  background-color: white;
  position: relative;
  box-sizing: border-box;
  width: 22%;
  height: 18vw;
  margin: 1%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 3px 17px -2px rgba(0,0,0,0.22);

}

@media (max-width: 1300px) {
  .product{
    width: 30%;
    height: 23vw;
  }
}

@media (max-width: 1000px) {
  .product{
    width: 46%;
    height: 35vw;
  }
}


/* Product Card - Image area */

.product img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

/* Product Card - Text area */

.productHeader {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 3%;
  box-sizing: border-box;
}

.productName {
  width:80%;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

}

.productPrice {
  margin: 0;
}

#linkButton {
  background-color: white;
  border-radius: 15px;
  border: 1px solid lightgray;
  width: auto;
  height: 30px;
  padding: 0 20px;
}

/* Product Card - Edit Buttons (top right) */

.editButtons {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;

}

.editButtons button {
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.editButtons a {
  color: black;
}

.editButtons img {
  width: 20px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.715);
  padding: 5px;
  border-radius: 5px;
}
/* #addProductCard {
  background-color: rgb(255, 189, 21);
} */
#addProductCard * {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: underline;
  color: rgb(255, 189, 21);
}

input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding-left: 15px;
}

#searchAndFilter {
  margin: 0 10vw 1vw 10vw;
}

#search {
  width: 78%;
}

#maxPrice {
  width: 10%;
  margin: 1%;
}

#findButton {
  width: 8%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 189, 21);
  color:white;
}


/* List tags area */
.lists {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.list-tags {
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}


.list-tags button { 
  margin: 10px 0 0 0;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: gray;
}

.list-tags .active {
  background-color: rgb(255, 189, 21);
  border-color: transparent;
  color: white;
}

.manage-lists-link {
  color:rgb(255, 189, 21);
  padding: 0 5vw 0 0;
  text-decoration: underline;
}


.authSection {
  width: 100%;
  height: auto;
}

.authForm {
  width: 30%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.authForm input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.authForm button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color:  rgb(255, 189, 21);
  border: none;
}

#link {
  margin-top: 15px;
  text-decoration: underline;
}

.errorMessage {
  color: red
}


#overlay {
  background-color: rgb(234, 238, 242, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; /* Sit on top */
}

#overlayModal {
  background-color: white;
  box-shadow: 2px 3px 17px -2px rgba(0,0,0,0.22);
  position: fixed;
  width: 30%;
  height: auto;
  top: 50vh;
  left: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; /* Sit on top */
  border-radius: 5px;
}

#closingButton {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#closingButton img {
  width: 100%
}

.productForm, .listForm {
  padding: 10px;
} 

.productForm input, .listForm input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.productForm select {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.productForm select option[selected] {
  background-color: rgb(255, 189, 21, 0.5);
}

.productForm button, .listForm button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 189, 21);
}

.productForm label, .listForm label {
  font-family: 'Quicksand', sans-serif;
  font-size: small;
  font-weight: 700;
  color: rgb(255, 189, 21);
}

#productImg {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;

}

/* List overlay */
.manage-lists{
  padding: 10px;
}

.manage-lists ul{
  margin: 20px 0;
  padding: 0;
}

.manage-lists li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
  text-align: left;
}

#create-list{
  color: rgb(255, 189, 21);
}

#list-options a {
  padding: 0 10px;
}


footer {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 40vw;
}