<h1>Create Product</h1>

<form action="/products/create" method="POST">
    <label>
        Name:
        <input type="text" name="name" required>
    </label>

    <label>
        Price:
        <input type="Number" name="price">
    </label>

    <label>
        Notes:
        <input type="text" name="notes">
    </label>

    <label>
        Link to image:
        <input type="url" name="image">
    </label>

    <label>
        Link to Product:
        <input type="url" name="link">
    </label>
    
    <button type="submit">Create</button>
</form>